* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    /* background-color: #484ea9; */
    background: linear-gradient(90deg, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255));;
  }

.card {
    width: 320px;
    height: 180px;
    margin-left: 50px;
    background-color: #f4f5d3;
    padding: 10px;
    border: solid #484ea9 5px;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 50%);
    border-radius: 20px;
    color: rgb(82, 81, 81);
}
p {
    text-align: justify;
    margin: 5px;
}
.radio {
    margin-top: 20px;
}

button {
    display: block;
    width: 100px;
    height: 25px;
    border-radius: 15px;
    background-color: #74ff91;
    border: solid #0815ba;
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    margin-top: 30px;
    color: #0815ba;
}

h3 {
    color: aliceblue;
    margin-left: 150px;
}
